# Visual Studio Code workspace files
*.code-workspace

# VS Code build directory
**/.vscode

obj/
*.map
*.com

# IntelliJ project dir
.idea/

# Don't ignore .COM files in the dist folder
!dist/*.com

build/